/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import '../src/app/styling/styling.scss';



body {
    font-family: 'DM Sans';
    background-color: #F5F5F5;
}

.custom-margin {
    margin-left: 20px;
    margin-right: 20px;
}