<!-- eslint-disable @angular-eslint/template/alt-text -->
<div class="container game-card-layout">
  <div class="row">
    <div class="col-md-3" *ngFor="let game of startPageGames">
      <div class="card mb-4">
        <div class="image-container">
          <img
            [src]="game.background_image"
            class="card-img-top"
            alt="Game Image"
            (click)="navigateToGameDetails(game.slug)"
            (keydown.enter)="navigateToGameDetails(game.slug)"
            (keyup.enter)="navigateToGameDetails(game.slug)"
            tabindex="0" />
        </div>
        <div class="card-body">
          <h3 class="card-title fw-bold">{{ game.name }}</h3>
          <button
            class="btn btn-primary"
            (click)="navigateToGameDetails(game.slug)">
            View Details
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
