<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->

<div class="container">
  <form (ngSubmit)="onSubmit()">
    <div class="row mb-3">
      <div class="col-12 col-md-3 custom-width-25">
        <label for="name" class="form-label"><strong>Name:</strong></label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          [(ngModel)]="customUserListRequest.name" />
      </div>
      <div class="col-12 col-md-4 custom-width-35">
        <label for="description" class="form-label"
          ><strong>Description:</strong></label
        >
        <textarea
          class="form-control"
          id="description"
          name="description"
          [(ngModel)]="customUserListRequest.description"></textarea>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <div class="row">
    <div class="col">
      <div class="d-flex flex-wrap justify-content-start">
        <div
          *ngFor="let list of customUserLists"
          class="card mb-3 me-3"
          style="width: 18rem"
          (click)="navigateToListPage(list.id)"
          style="cursor: pointer">
          <div class="card-body">
            <h3 class="card-title">{{ list.name }}</h3>
            <p>
              <strong>{{ list.username }}</strong>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
