<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name">Name:</label>
    <input
      type="text"
      class="form-control"
      id="name"
      name="name"
      [(ngModel)]="customUserListRequest.name" />
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <textarea
      class="form-control"
      id="description"
      name="description"
      [(ngModel)]="customUserListRequest.description"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="d-flex flex-wrap justify-content-start">
        <div
          *ngFor="let list of customUserLists"
          class="card mb-3 me-3"
          style="width: 18rem"
          (click)="navigateToListPage(list.id)"
          style="cursor: pointer">
          <div class="card-body">
            <h3 class="card-title">{{ list.name }}</h3>
            <p>
              <strong>{{ list.username }}</strong>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
