
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="reviewModalLabel">Create a Review</h2>
        <button
          type="button"
          class="btn-close"
          (click)="activeModal.dismiss('Cross click')"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="submitReview()">
          <div class="mb-3">
            <label for="reviewText" class="form-label">Review</label>
            <textarea
              class="form-control"
              id="reviewText"
              [(ngModel)]="reviewText"
              name="reviewText"></textarea>
          </div>
          <div class="mb-3">
            <label for="score" class="form-label">Score: {{ score }}</label>
            <input
              type="range"
              class="form-range"
              id="score"
              [(ngModel)]="score"
              name="score"
              min="0"
              max="100"
              (input)="updateScore($event)" />
          </div>
          <p>
            <strong
              >If this game is in your backlog, it will be removed.
            </strong>
          </p>
          <button type="submit" class="btn btn-primary">Submit Review</button>
        </form>
      </div>
    </div>

