  .game-details {
    background-color: #ffffff;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  
  .image-description img {
    max-width: 100%; 
    max-height: 50vh; 
  }
  
  .not-found-message {
    text-align: center;
    padding: 20px;
    color: rgb(218, 80, 80);
  }

  button {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: none;
    background-color: #F4D03F; 
    color: #000000;
  
  }
  
  button:hover {
    background-color: #F7DC6F; 
    color: #000000;
  }

  