<div class="container">
  <div *ngIf="game; else gameNotFound" class="game-details">
    <h1 class="fw-bold">{{ game.name }}</h1>
    <p style="font-weight: bold">{{ game.released }}</p>
    <p>
      Metacritic rating:
      <app-metacritic-score
        [metacritic]="game.metacritic"></app-metacritic-score>
    </p>
    <div class="row">
      <div class="col-md-6">
        <div class="image-description">
          <img [src]="game.background_image" alt="Game Image" />
        </div>
      </div>
      <div class="col-md-6">
        <p>{{ game.description_raw }}</p>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 d-flex justify-content-end">
        <div class="btn-group">
          <button
            type="button"
            class="btn btn-outline-dark"
            (click)="
              addToBacklog(
                userId!,
                game.id,
                game.name,
                game.background_image,
                game.released,
                game.description_raw,
                game.metacritic
              )
            ">
            Add to backlog
          </button>

          <button
            type="button"
            class="btn btn-outline-dark"
            (click)="openReviewModal()">
            Create a Review
          </button>
          <div class="btn-group" role="group">
            <button
              type="button"
              class="btn btn-outline-dark dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="false">
              Add to list
            </button>
            <ul class="dropdown-menu">
              <li *ngFor="let list of customUserLists">
                <button
                  class="dropdown-item"
                  (click)="
                    addGameToCustomList(
                      list.id,
                      game.id,
                      game.name,
                      game.background_image,
                      game.released,
                      game.description_raw,
                      game.metacritic
                    )
                  ">
                  {{ list.name }}
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #gameNotFound>
    <div class="not-found-message">
      <div class="spinner-border text-dark" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </ng-template>
</div>
