<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid custom-margin">
    <a href="#">
      <img
        src="../assets/images/VOG_LOGO.png"
        alt=""
        width="112.5"
        height="48.75"
        style="margin: 10px" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="search-container custom-margin">
      <!-- Search Bar -->
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search games"
          aria-label="Search"
          (input)="onInputChange($event)" />

        <!-- Loading Spinner -->
        <div
          *ngIf="loading"
          class="spinner-border spinner-border-sm text-primary ms-2"
          role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </form>

      <!-- Inline Results Container -->
      <div
        *ngIf="showDropdown && searchResults.length > 0"
        class="search-results">
        <button
          *ngFor="let game of searchResults"
          class="search-result-item"
          (click)="navigateToGameDetails(game.slug)">
          {{ game.name }}
        </button>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="backlog"
            >Backlog</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="custom-lists"
            >Custom Lists</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="review"
            >Reviewed Games</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="profile">{{
            userName
          }}</a>
        </li>
      </ul>
      <button
        *ngIf="!isLoggedIn"
        type="button"
        class="btn btn-primary"
        (click)="openCreateAccountModal()">
        Create Account
      </button>
      <form
        *ngIf="!isLoggedIn"
        class="d-flex"
        (submit)="onSubmit(loginForm)"
        #loginForm="ngForm">
        <div class="input-group me-2">
          <input
            type="email"
            class="form-control"
            placeholder="Email"
            id="email"
            ngModel
            name="email"
            required />
          <input
            type="password"
            class="form-control"
            placeholder="Password"
            id="password"
            ngModel
            name="password"
            required />
          <button class="btn btn-outline-light" type="submit">Login</button>
        </div>
      </form>

      <button
        *ngIf="isLoggedIn"
        class="btn btn-outline-light"
        (click)="logout()">
        Logout
      </button>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
