.custom-margin {
    margin-left: 50px;
    margin-right: 50px;
}

nav {
    background-color:#ffffff;
    font-weight: bold;
}

button {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: none;
    background-color: #F4D03F; 
    color: #000000;
    margin-right: 10px;
  }
  
  button:hover {
    background-color: #F7DC6F; 
    color: #000000;
  }
  .search-container {
    position: relative;  // Ensures the search results align under the input
        // Matches width of container
  }
  
  .search-results {
    position: absolute;
    top: 100%;           // Positions results directly below the search bar
    max-height: 300px;   // Limits height to make it scrollable if needed
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #f4d03f #ffffff;
    background-color: #ffffff; 
    color: #f4d03f;
    border: 2px solid #1a1a1a;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    margin-top: 5px;
    z-index: 10;         // Keeps the dropdown on top of other elements
  }
  
  .search-result-item {
    padding: 10px;
    text-align: left;
    background: none;
    border: none;
    color: #000000;
    width: 100%;
    cursor: pointer;
  
    &:hover,
    &:focus {
      background-color: #dbdbdb;
      outline: none;
    }
  }