<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid custom-margin">
    <a href="#">
      <img
        src="../assets/images/VOG_LOGO.png"
        alt=""
        width="112.5"
        height="48.75"
        style="margin: 10px" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <form class="d-flex">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
        (input)="onInputChange($event)" />
      <div class="dropdown" *ngIf="showDropdown && searchResults.length > 0">
        <button
          class="btn btn-outline-light dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-bs-toggle="dropdown"
          aria-expanded="false">
          Select a game
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li *ngFor="let game of searchResults">
            <button
              class="dropdown-item"
              (click)="navigateToGameDetails(game.slug)">
              {{ game.name }}
            </button>
          </li>
        </ul>
      </div>
    </form>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="backlog"
            >Backlog</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="custom-lists"
            >Custom Lists</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="review"
            >Reviewed Games</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="profile">{{
            userName
          }}</a>
        </li>
      </ul>
      <form class="d-flex" (submit)="onSubmit(loginForm)" #loginForm="ngForm">
        <div class="input-group me-2">
          <input
            type="email"
            class="form-control"
            placeholder="Email"
            id="email"
            ngModel
            name="email"
            required />
          <input
            type="password"
            class="form-control"
            placeholder="Password"
            id="password"
            ngModel
            name="password"
            required />
          <button class="btn btn-outline-light" type="submit">Login</button>
        </div>
      </form>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
